<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.practice.fragmentsprac">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FragmentsPrac"
        tools:targetApi="31">
        <activity
            android:name=".FloatingActionButton.BottomNavWithFloatingAct"
            android:exported="true" />
        <activity
            android:name=".Viewpager_FragmentsStateAdaptor.ViewPagerPrac"
            android:exported="true" />
        <activity
            android:name=".FragmentsBasics.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabLayout.TabLayoutPrac"
            android:exported="true" />
        <activity
            android:name=".TabLayout.TabLayoutWithViewPager"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationView.MainActivityBottomNav"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationView.FromGitPrac.BtmNavUsingGit"
            android:exported="true" />
    </application>

</manifest>